<div class="container">

  <form action="/params[:twitter_name]" method="GET">
    <input type="text" name="user_name" placeholder="Twitter name">
    <input type="submit" value="Submit">



  </form>

</div>
